:root {
    --primary-color: #1d5888;
    --secondary-color: #FFC400;
    --dark-color: #292929;
    --grey-text: #414141;
    --white-color: #e7e7e7;
}

.p-text {
    font-size: 1rem;
    color: var(--grey-text);
}

body{
    color: var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
    color: var(--dark-color);

}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: 0.75;
}

footer .social>a:hover{
    color: var(--secondary-color);
    opacity: 0.9;
}

.bsicon{
    color:purple;
}

.jsicon{
    color: rgb(247, 223, 30);
}

.html5icon{
    color: orangered;
}

.css3icon {
    color: blue;
}

.checklist >li i{
    color: var(--secondary-color);
}

.treeHive {
 color: peru;
}

.tree {
    color: green;
}

.hive {
    color: yellow;
}

code[class*="language-"],
    pre[class*="language-"] {
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word;
    }

.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}